In [2]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import re
import requests

In [3]:
year=[] 
for i in range(1984,2020):
    year.append(i)

all_url=[]
for x in year:
   all_url.append('https://www.basketball-reference.com/leagues/NBA_{}_advanced.html'.format(x))

#Create function to scrape URL 
def urlScraping(url):
    
    nba=BeautifulSoup(urlopen(url))

    #Obtain Headers
    headers=[th.getText() for th in nba.findAll('tr')[0].findAll('th')]
    headers=headers[1:]

    #Obtain player data in rows
    rows = nba.findAll('tr')[1:]
    player_stats=[[td.getText() for td in rows[i].findAll('td')] for i in range (len(rows))]

    #Obtain playerID from rows
    player_id=[]
    player=[[data['data-append-csv'] for data in rows[i].findAll('td',{'data-append-csv':True})] for i in range(len(rows))]

    for x in player:
        for y in x:
            player_id.append(y)


    #Create stats data frame
    st=pd.DataFrame(player_stats, columns=headers)

    col= [c for c in st.columns if c.isspace()==False]

    st=st[col]

    st=st[st['Player'].notnull()]

    st.reset_index(inplace=True)

    #Add Year to DataFrame
    yr = [x.getText() for x in nba.findAll('span')]
    r=re.compile(r'\d')
    yr_list=list(filter(r.match, yr))
    nba_year=int(re.findall('\d+', yr_list[0])[0])
    

    st['Year']=nba_year


    #Add PlayerID to stats
    st['player_id']=player_id

    #Drop index column
    st.drop('index', axis=1, inplace=True)

    #Convert objects to floats/int
    st[['G', 'MP', 'PER', 'TS%', '3PAr', 'FTr','ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS','DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP']]=st[['G', 'MP', 'PER', 'TS%', '3PAr', 'FTr','ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS','DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP']].apply(pd.to_numeric)
    
    return st

In [4]:
#Loop to create CSV Files
#for url in all_url:
#    data = urlScraping(url)
#    name = 'data/nba_advancedstats_'+str(data['Year'][0])+'.csv'
#    data.to_csv(name)

In [5]:
#Concat nba_advanced_stats data
file_name='data/nba_advancedstats_{}.csv'
adv_stats_list=[]
for x in range(1984,2020):
    adv_stats_list.append(pd.read_csv(file_name.format(x)))

adv_stats=pd.concat(adv_stats_list)

In [6]:
#To get salary data, the URL needs to be setup

player_id=[x for x in adv_stats['player_id'].unique()]
first_letter = []
for x in player_id:
    y=x[0]
    first_letter.append(y)

tup=list(zip(first_letter,player_id))

salary_url=[]
for x in tup:
    salary_url.append('https://www.basketball-reference.com/players/{}/{}.html'.format(*x))
    
#Create a function
def salScraping(url):
    html=requests.get(url)
    html_doc=html.text.replace('<!--','').replace('-->','')
    content=BeautifulSoup(html_doc,'html.parser')
    sal=content.find(id='all_salaries')
    id=content.find('meta',attrs={'property':'og:url'})
    pl_id=re.findall(r'/www.basketball-reference.com/players/[a-z]/(.*).html', str(id))
    header=[th.getText() for th in sal.findAll('tr')[0].findAll('th')]
    header=header[1:]
    rows=sal.findAll('tr')[1:]
    team=sal.findAll('td', {'data-stat':'team_name'})
    pl_sal=[[td.getText() for td in rows[i].findAll('td')] for i in range (len(rows))]
    pl_season=[[th.getText() for th in rows[i].findAll('th')] for i in range (len(rows))]
    pl_team=[[x['href'] for x in team[i].findAll('a', {'href':True})] for i in range(len(team))]
    
    df_sal=pd.DataFrame(pl_sal,columns=header)
    
    season=[]
    
    for x in pl_season:
        for y in x:
           season.append(y) 
    
    teams=[]
    
    for x in pl_team:
        for y in x:
            y=re.findall(r'/teams/(.*)/', y)
            for z in y:
                teams.append(z)
    
    start_yr=[]
    
    for x in season:
        x=re.findall('\d\d\d\d',x)
        for y in x:
            start_yr.append(int(y))

    end_yr=[]
    
    for x in season:
        x=re.findall('\d\d\d\d',x)
        for y in x:
            y=int(y)+1
            end_yr.append(y)

    df_sal['Season']=season
    df_sal.drop(df_sal.index[-1], inplace=True)
    df_sal['team_id']=teams
    df_sal['season_start']=start_yr
    df_sal['season_end']=end_yr
    player_id=pd.DataFrame(pl_id, columns=['player_id'])
    df_salary=pd.concat([df_sal, player_id], sort=False)
    df_salary.bfill(inplace=True)
    df_salary.reset_index(inplace=True)
    df_salary.drop(df_salary.index[-1],inplace=True)
    df_salary.reset_index(inplace=True)
    df_salary.drop(['level_0','index'], axis=1, inplace=True)
    return df_salary

In [7]:
#Loop to create CSV Files
#for url in salary_url:
#    try:
#        data = salScraping(url)
#        name = 'data/nba_salary/nba_salary_'+str(data['player_id'][0])+'.csv'
#        data.to_csv(name)
#    except AttributeError:
#        print ('No salary for: '+str(url))
#   except:
#        print ('Error with: '+str(url))

In [10]:
#Concat nba_salary data

file_name='data/nba_salary/nba_salary_{}.csv'
player_id=[x for x in adv_stats['player_id'].unique()]
salary_list=[]
for x in player_id:
    try:
        salary_list.append(pd.read_csv(file_name.format(x)))
    except FileNotFoundError:
        print('No Salary: '+str(x))

salary=pd.concat(salary_list)

No Salary: aleksch01
No Salary: anderjj01
No Salary: blackco01
No Salary: bratzmi01
No Salary: brewero01
No Salary: carteho01
No Salary: collido02
No Salary: coopejo01
No Salary: crissch01
No Salary: durrade01
No Salary: eavesje01
No Salary: edelike01
No Salary: fordph01
No Salary: glennmi01
No Salary: grangst01
No Salary: gravebu01
No Salary: hollili01
No Salary: jacksra01
No Salary: johnsge03
No Salary: jonesea01
No Salary: jonesoz01
No Salary: kelsegr01
No Salary: lagarto01
No Salary: lowesi01
No Salary: mccrasc01
No Salary: mcdowha01
No Salary: michela01
No Salary: nattke01
No Salary: paultbi01
No Salary: popeda01
No Salary: rautile01
No Salary: romarlo01
No Salary: russeca02
No Salary: russewa01
No Salary: sapplwa01
No Salary: schefto01
No Salary: schwejo01
No Salary: sittoch01
No Salary: slubyto01
No Salary: smithro01
No Salary: suttlda01
No Salary: thirdda01
No Salary: towneli01
No Salary: willigu02
No Salary: willira01
No Salary: willisa02
No Salary: wilsomi01
No Salary: wilsoot01
No Salary: youngmi01
No Salary: cookeda01
No Salary: creviro01
No Salary: crossje01
No Salary: greenke01
No Salary: hendeje01
No Salary: josepyv01
No Salary: keeliha01
No Salary: martibr01
No Salary: mcneach01
No Salary: mosspe01
No Salary: rowlade01
No Salary: willifr01
No Salary: biniojo01
No Salary: douglbr01
No Salary: hendece01
No Salary: jacksmy01
No Salary: johnsst02
No Salary: jonesan01
No Salary: kitchcu01
No Salary: lamplji01
No Salary: martife01
No Salary: mckenfo01
No Salary: mcqueco01
No Salary: nuttde01
No Salary: poleedw01
No Salary: rowanro01
No Salary: singlmc01
No Salary: smithcl01
No Salary: smithke03
No Salary: tayloje01
No Salary: wrighbr01
No Salary: youngpe01
No Salary: arlaujo01
No Salary: blackna01
No Salary: colemno01
No Salary: donovbi01
No Salary: johnska01
No Salary: moorean01
No Salary: nesslma01
No Salary: rellfri01
No Salary: wadema01
No Salary: walleja01
No Salary: washike01
No Salary: wilsoni01
No Salary: winslri01
No Salary: zevenph01
No Salary: allenra01
No Salary: andermi01
No Salary: champmi01
No Salary: davisma01
No Salary: grahaor01
No Salary: jonesbi01
No Salary: jonessh01
No Salary: lockro01
No Salary: mitchto01
No Salary: mortori01
No Salary: pressdo01
No Salary: rosero01
No Salary: rowinji01
No Salary: smartke01
No Salary: sumptba01
No Salary: brownra01
No Salary: brundst01
No Salary: brynto01
No Salary: bucknst01
No Salary: dinkiby01
No Salary: doziete01
No Salary: edwarja02
No Salary: higgimi01
No Salary: hortoed01
No Salary: johnser01
No Salary: johnsna01
No Salary: leboje01
No Salary: lettcl01
No Salary: marblro01
No Salary: mccanme01
No Salary: mckinca01
No Salary: morrimi01
No Salary: nixdy01
No Salary: paspaza01
No Salary: rothdo01
No Salary: shousde01
No Salary: tayloja01
No Salary: taylole01
No Salary: willimi03
No Salary: ballce01
No Salary: dawsoto01
No Salary: munkch01
No Salary: calipde01
No Salary: huntece01
No Salary: thompst01
No Salary: viannjo01
No Salary: jordath01
No Salary: newbeme01
No Salary: steveba01
No Salary: edwarbi01
No Salary: fordal01
No Salary: gallach01
No Salary: graceri01
No Salary: henrysk01
No Salary: jacksst01
No Salary: kiddwa01
No Salary: benneel01
No Salary: blackja01
No Salary: harmoje01
No Salary: lorthry01
No Salary: phelpde01
No Salary: bookeme01
No Salary: churcro01
No Salary: claxtch01
No Salary: heggsal01
No Salary: johnsda02
No Salary: lewisce01
No Salary: marticu01
No Salary: nathaho01
No Salary: sykesla01
No Salary: webstje01
No Salary: whitfdw01
No Salary: boneyde01
No Salary: carruji01
No Salary: driggna01
No Salary: grayev01
No Salary: smithst02
No Salary: steigma01
No Salary: djordal01
No Salary: hansore01
No Salary: mcdonmi01
No Salary: alumape01
No Salary: bakerla01
No Salary: simsal01
No Salary: wheelty01
No Salary: colsose01
No Salary: mcclida01
No Salary: vanteda01
No Salary: fontais01
No Salary: rigauan01
No Salary: cartema01
No Salary: fergude01
No Salary: fullehi01
No Salary: penigde01
No Salary: bakerma01
No Salary: jonesma03
No Salary: knighbr02
No Salary: felixno01
No Salary: grundan01
No Salary: zimmede01
No Salary: pinknke01
No Salary: allrela01
No Salary: powelka01
No Salary: crawfjo01
No Salary: jeffedo01
No Salary: anderan02
No Salary: jeffeot01
No Salary: lafayol01
No Salary: cousima01
No Salary: ewingpa02
No Salary: byarsde01
No Salary: dentmju01
No Salary: dysonje01
No Salary: smithje01
No Salary: ubileed01
No Salary: wrighch02
No Salary: daviebr01
No Salary: edwarsh01
No Salary: harriel01
No Salary: mitchto03
No Salary: nunnaja01
No Salary: smithch05
No Salary: southja01
No Salary: wareca01
No Salary: chrispa01
No Salary: lucaska01
No Salary: wiltjky01
No Salary: adebaba01
No Salary: allenja01
No Salary: allenka01
No Salary: anigbik01
No Salary: anunoog01
No Salary: arcidry01
No Salary: artisja01
No Salary: bacondw01
No Salary: balllo01
No Salary: belljo01
No Salary: birchkh01
No Salary: birdja01
No Salary: blakean01
No Salary: bogdabo01
No Salary: bouchch01
No Salary: bradlto01
No Salary: brookdi01
No Salary: brownst02
No Salary: bryanth01
No Salary: carusal01
No Salary: cavanty01
No Salary: clavegi01
No Salary: clevean01
No Salary: collijo01
No Salary: colliza01
No Salary: colliky01
No Salary: cookech01
No Salary: costema01
No Salary: craigto01
No Salary: dorsety01
No Salary: dotsoda01
No Salary: doylemi01
No Salary: doziepj01
No Salary: evansja01
No Salary: fergute01
No Salary: foxde01
No Salary: fultzma01
No Salary: grayjo01
No Salary: hamilda02
No Salary: harrish01
No Salary: hartjo01
No Salary: hayesni01
No Salary: hearnre01
No Salary: henrymy01
No Salary: hicksis01
No Salary: hollajo02
No Salary: huntevi01
No Salary: ingraan01
No Salary: isaacjo01
No Salary: iwundwe01
No Salary: jacksaa01
No Salary: jacksjo02
No Salary: jacksju01
No Salary: jamesmi02
No Salary: johnsda04
No Salary: johnsom01
No Salary: jonesja04
No Salary: kennalu01
No Salary: klebima01
No Salary: korkmfu01
No Salary: kornelu01
No Salary: kuzmaky01
No Salary: leaftj01
No Salary: leeda03
No Salary: lemonwa01
No Salary: lydonty01
No Salary: magetjo01
No Salary: markkla01
No Salary: masonfr01
No Salary: mathima01
No Salary: mccreer01
No Salary: mckintr01
No Salary: mckinal01
No Salary: millema01
No Salary: mitchdo01
No Salary: mitrona01
No Salary: monkma01
No Salary: moorebe01
No Salary: morrija01
No Salary: morrimo01
No Salary: motlejo01
No Salary: naderab01
No Salary: ntilila01
No Salary: onealro01
No Salary: ojelese01
No Salary: osmande01
No Salary: paigema01
No Salary: pattoju01
No Salary: paulbr01
No Salary: perralo01
No Salary: peteral01
No Salary: pulleja01
No Salary: purviro01
No Salary: qizh01
No Salary: rabbiv01
No Salary: rathaxa01
No Salary: reedda01
No Salary: robinde01
No Salary: simmobe01
No Salary: simmoko01
No Salary: smithde03
No Salary: sumneed01
No Salary: swanica01
No Salary: tatumja01
No Salary: teodomi01
No Salary: theisda01
No Salary: thornsi01
No Salary: wallaty01
No Salary: waltode01
No Salary: warneja01
No Salary: webbja01
No Salary: whitean01
No Salary: whitede01
No Salary: wileyja01
No Salary: willicj01
No Salary: willima05
No Salary: wilsodj01
No Salary: wilsoja02
No Salary: yabusgu01
No Salary: zizican01
No Salary: adamsja01
No Salary: adelde01
No Salary: akoonde01
No Salary: alkinra01
No Salary: allengr01
No Salary: antetko01
No Salary: aytonde01
No Salary: baglema01
No Salary: bambamo01
No Salary: bateske01
No Salary: bertada02
No Salary: blossja01
No Salary: boldejo01
No Salary: bongais01
No Salary: bridgmi01
No Salary: bridgmi02
No Salary: briscis01
No Salary: broekry01
No Salary: brownbr01
No Salary: browntr01
No Salary: brunsja01
No Salary: burtode02
No Salary: carteje01
No Salary: cartewe01
No Salary: caupatr01
No Salary: chealjo01
No Salary: chiozch01
No Salary: clarkga01
No Salary: colsobo01
No Salary: creekmi01
No Salary: davisty01
No Salary: delgaan01
No Salary: derrima01
No Salary: diallha01
No Salary: divindo01
No Salary: doncilu01
No Salary: duvaltr01
No Salary: edwarvi01
No Salary: eubandr01
No Salary: evansja02
No Salary: frazime01
No Salary: garrebi01
No Salary: gilesha01
No Salary: gilgesh01
No Salary: goodwbr01
No Salary: grahade01
No Salary: grantdo01
No Salary: hannadu01
No Salary: harteis01
No Salary: highsha01
No Salary: holidaa01
No Salary: huertke01
No Salary: humphis01
No Salary: hutchch01
No Salary: jacksfr01
No Salary: jacksja02
No Salary: jeffeam01
No Salary: johnsal02
No Salary: johnsbj01
No Salary: jonesje01
No Salary: kingge03
No Salary: knoxke01
No Salary: kurucro01
No Salary: loftoza01
No Salary: loydjo01
No Salary: maconda01
No Salary: macurjp01
No Salary: matenya01
No Salary: mccalta01
No Salary: meltode01
No Salary: metuch01
No Salary: miltosh01
No Salary: musadz01
No Salary: mykhasv01
No Salary: okoboel01
No Salary: okogijo01
No Salary: pinsoth01
No Salary: reynoca01
No Salary: robindu01
No Salary: robinje01
No Salary: robinmi01
No Salary: sampsbr01
No Salary: sextoco01
No Salary: shamela01
No Salary: siberjo01
No Salary: simonan01
No Salary: smithzh01
No Salary: spaldra01
No Salary: spellom01
No Salary: terreja01
No Salary: terryem01
No Salary: thomakh01
No Salary: trentga02
No Salary: trieral01
No Salary: vandeja01
No Salary: wagnemo01
No Salary: walkelo01
No Salary: wanambr01
No Salary: washbju01
No Salary: watanyu01
No Salary: welshth01
No Salary: willijo04
No Salary: willike04
No Salary: williro04
No Salary: youngtr01

In [11]:
#Convert Salary into float 
salary['Salary']=salary.Salary.str.replace('$','')
salary['Salary']=salary.Salary.str.replace(',','')
salary['clean_Salary']=salary.Salary.str.extract('(\d+)', expand=True)
salary['clean_Salary']=salary.clean_Salary.astype(float)

#Remove NaN clean_Salary. The Salary is either not available or '< Minimum'
salary.dropna(inplace=True)

In [28]:
nba_adv_stats_and_salary=pd.merge(adv_stats,salary,how='left',left_on=['player_id','Tm','Year'], right_on=['player_id','team_id','season_start'])

#Back Fill NaN. Reason is because some players were traded midway. Missing values are for new teams and total. 
#nba_adv_stats_and_salary.bfill(inplace=True)

nba_adv_stats_and_salary.drop(columns=['Unnamed: 0_x','Unnamed: 0_y'], inplace=True)

file_name='data/nba_adv_stats_and_salary.csv'

nba_adv_stats_and_salary.to_csv(file_name, index=False)

In [29]:
cap = pd.read_excel('data/salaryCap.xlsx')

In [30]:
salcap_and_salary = nba_adv_stats_and_salary.merge(cap, left_on='season_start', right_on='Year')

salcap_and_salary.drop(columns='Year_y', inplace=True)

salcap_and_salary.rename(columns = {'Year_x':'Year'}, inplace=True)

salcap_and_salary['%_of_cap'] = salcap_and_salary['clean_Salary']/salcap_and_salary['Salary Cap']

salcap_and_salary.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9940 entries, 0 to 9939
Data columns (total 38 columns):
Player          9940 non-null object
Pos             9940 non-null object
Age             9940 non-null int64
Tm              9940 non-null object
G               9940 non-null int64
MP              9940 non-null int64
PER             9935 non-null float64
TS%             9907 non-null float64
3PAr            9904 non-null float64
FTr             9904 non-null float64
ORB%            9935 non-null float64
DRB%            9935 non-null float64
TRB%            9935 non-null float64
AST%            9935 non-null float64
STL%            9935 non-null float64
BLK%            9935 non-null float64
TOV%            9914 non-null float64
USG%            9935 non-null float64
OWS             9940 non-null float64
DWS             9940 non-null float64
WS              9940 non-null float64
WS/48           9935 non-null float64
OBPM            9940 non-null float64
DBPM            9940 non-null float64
BPM             9940 non-null float64
VORP            9940 non-null float64
Year            9940 non-null int64
player_id       9940 non-null object
Team            9940 non-null object
Lg              9940 non-null object
Salary          9940 non-null object
Season          9940 non-null object
team_id         9940 non-null object
season_start    9940 non-null float64
season_end      9940 non-null float64
clean_Salary    9940 non-null float64
Salary Cap      9940 non-null int64
%_of_cap        9940 non-null float64
dtypes: float64(24), int64(5), object(9)
memory usage: 3.0+ MB

In [31]:
salcap_and_salary.to_csv('data/salcap_and_salary.csv', index=False)

In [50]:
salcap_and_salary.head(10)

,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,FTr,...,Team,Lg,Salary,Season,team_id,season_start,season_end,clean_Salary,Salary Cap,%_of_cap
0,Mahmoud Abdul-Rauf,PG,26,DEN,57,2029,18.6,0.535,0.324,0.164,...,Denver Nuggets,NBA,2600000,1995-96,DEN,1995.0,1996.0,2600000.0,23000000,0.113043
1,Rafael Addison,SF,31,CHH,53,516,9.6,0.489,0.055,0.133,...,Charlotte Hornets,NBA,360000,1995-96,CHH,1995.0,1996.0,360000.0,23000000,0.015652
2,Cory Alexander,PG,22,SAS,60,560,8.7,0.506,0.426,0.161,...,San Antonio Spurs,NBA,490000,1995-96,SAS,1995.0,1996.0,490000.0,23000000,0.021304
3,Jerome Allen,SG,23,MIN,41,362,7.8,0.447,0.314,0.343,...,Minnesota Timberwolves,NBA,200000,1995-96,MIN,1995.0,1996.0,200000.0,23000000,0.008696
4,Derrick Alston,C,23,PHI,73,1614,11.8,0.518,0.008,0.289,...,Philadelphia 76ers,NBA,350000,1995-96,PHI,1995.0,1996.0,350000.0,23000000,0.015217
5,John Amaechi,PF,25,CLE,28,357,3.1,0.456,0.000,0.471,...,Cleveland Cavaliers,NBA,200000,1995-96,CLE,1995.0,1996.0,200000.0,23000000,0.008696
6,Ashraf Amaya,PF,24,VAN,54,1104,11.8,0.534,0.004,0.591,...,Vancouver Grizzlies,NBA,225000,1995-96,VAN,1995.0,1996.0,225000.0,23000000,0.009783
7,Greg Anderson,PF,31,SAS,46,344,7.7,0.466,0.021,0.532,...,San Antonio Spurs,NBA,485000,1995-96,SAS,1995.0,1996.0,485000.0,23000000,0.021087
8,Kenny Anderson,PG,25,NJN,31,1042,19.8,0.511,0.261,0.495,...,New Jersey Nets,NBA,3898000,1995-96,NJN,1995.0,1996.0,3898000.0,23000000,0.169478
9,Nick Anderson,SG,28,ORL,77,2717,16.5,0.562,0.476,0.265,...,Orlando Magic,NBA,3200000,1995-96,ORL,1995.0,1996.0,3200000.0,23000000,0.139130

In [49]:
mean = salcap_and_salary['%_of_cap'].mean()
std = salcap_and_salary['%_of_cap'].std()