In [2]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import re
import requests

year=[] 
for i in range(1997,2018):
    year.append(i)

all_url=[]
for x in year:
   all_url.append('https://www.basketball-reference.com/leagues/NBA_{}_advanced.html'.format(x))

#Create function to scrape URL 
def urlScraping(url):
    
    nba=BeautifulSoup(urlopen(url))

    #Obtain Headers
    headers=[th.getText() for th in nba.findAll('tr')[0].findAll('th')]
    headers=headers[1:]

    #Obtain player data in rows
    rows = nba.findAll('tr')[1:]
    player_stats=[[td.getText() for td in rows[i].findAll('td')] for i in range (len(rows))]

    #Obtain playerID from rows
    player_id=[]
    player=[[data['data-append-csv'] for data in rows[i].findAll('td',{'data-append-csv':True})] for i in range(len(rows))]

    for x in player:
        for y in x:
            player_id.append(y)


    #Create stats data frame
    st=pd.DataFrame(player_stats, columns=headers)

    col= [c for c in st.columns if c.isspace()==False]

    st=st[col]

    st=st[st['Player'].notnull()]

    st.reset_index(inplace=True)

    #Add Year to DataFrame
    yr = [x.getText() for x in nba.findAll('span')]
    r=re.compile(r'\d')
    yr_list=list(filter(r.match, yr))
    nba_year=int(re.findall('\d+', yr_list[0])[0])
    nba_year=nba_year+1

    st['Year']=nba_year


    #Add PlayerID to stats
    st['player_id']=player_id

    #Drop index column
    st.drop('index', axis=1, inplace=True)

    #Convert objects to floats/int
    st[['G', 'MP', 'PER', 'TS%', '3PAr', 'FTr','ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS','DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP']]=st[['G', 'MP', 'PER', 'TS%', '3PAr', 'FTr','ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS','DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP']].apply(pd.to_numeric)
    
    return st

In [3]:
#Loop to create CSV Files
#for url in all_url:
#    data = urlScraping(url)
#   name = 'data/nba_advancedstats_'+str(data['Year'][0])+'.csv'
#    data.to_csv(name)

In [4]:
#Concat nba_advanced_stats data
file_name='data/nba_advancedstats_{}.csv'
adv_stats_list=[]
for x in range(1997,2018):
    adv_stats_list.append(pd.read_csv(file_name.format(x)))

adv_stats=pd.concat(adv_stats_list)

In [5]:
#To get salary data, the URL needs to be setup

player_id=[x for x in adv_stats['player_id'].unique()]
first_letter = []
for x in player_id:
    y=x[0]
    first_letter.append(y)

tup=list(zip(first_letter,player_id))

salary_url=[]
for x in tup:
    salary_url.append('https://www.basketball-reference.com/players/{}/{}.html'.format(*x))
    
#Create a function
def salScraping(url):
    html=requests.get(url)
    html_doc=html.text.replace('<!--','').replace('-->','')
    content=BeautifulSoup(html_doc,'html.parser')
    sal=content.find(id='all_salaries')
    id=content.find('meta',attrs={'property':'og:url'})
    pl_id=re.findall(r'/www.basketball-reference.com/players/[a-z]/(.*).html', str(id))
    header=[th.getText() for th in sal.findAll('tr')[0].findAll('th')]
    header=header[1:]
    rows=sal.findAll('tr')[1:]
    team=sal.findAll('td', {'data-stat':'team_name'})
    pl_sal=[[td.getText() for td in rows[i].findAll('td')] for i in range (len(rows))]
    pl_season=[[th.getText() for th in rows[i].findAll('th')] for i in range (len(rows))]
    pl_team=[[x['href'] for x in team[i].findAll('a', {'href':True})] for i in range(len(team))]

    df_sal=pd.DataFrame(pl_sal,columns=header)
    season=[]
    for x in pl_season:
        for y in x:
           season.append(y) 
    teams=[]
    for x in pl_team:
        for y in x:
            y=re.findall(r'/teams/(.*)/', y)
            for z in y:
                teams.append(z)
    start_yr=[]
    for x in season:
        x=re.findall('\d\d\d\d',x)
        for y in x:
            start_yr.append(int(y))

    end_yr=[]
    for x in season:
        x=re.findall('\d\d\d\d',x)
        for y in x:
            y=int(y)+1
            end_yr.append(y)

    df_sal['Season']=season
    df_sal.drop(df_sal.index[-1], inplace=True)
    df_sal['team_id']=teams
    df_sal['season_start']=start_yr
    df_sal['season_end']=end_yr
    player_id=pd.DataFrame(pl_id, columns=['player_id'])
    df_salary=pd.concat([df_sal, player_id], sort=False)
    df_salary.bfill(inplace=True)
    df_salary.reset_index(inplace=True)
    df_salary.drop(df_salary.index[-1],inplace=True)
    df_salary.reset_index(inplace=True)
    df_salary.drop(['level_0','index'], axis=1, inplace=True)
    return df_salary

In [6]:
#Loop to create CSV Files
for url in salary_url:
    try:
        data = salScraping(url)
        name = 'data/nba_salary/nba_salary_'+str(data['player_id'][0])+'.csv'
        data.to_csv(name)
    except AttributeError:
        print ('No salary for: '+str(url))
    except:
        print ('Error with: '+str(url))

No salary for: https://www.basketball-reference.com/players/b/benneel01.html
No salary for: https://www.basketball-reference.com/players/b/boneyde01.html
No salary for: https://www.basketball-reference.com/players/b/bookeme01.html
No salary for: https://www.basketball-reference.com/players/c/carruji01.html
No salary for: https://www.basketball-reference.com/players/d/driggna01.html
No salary for: https://www.basketball-reference.com/players/g/grayev01.html
No salary for: https://www.basketball-reference.com/players/m/marticu01.html
No salary for: https://www.basketball-reference.com/players/s/smithst02.html
No salary for: https://www.basketball-reference.com/players/s/steigma01.html
No salary for: https://www.basketball-reference.com/players/d/djordal01.html
No salary for: https://www.basketball-reference.com/players/h/hansore01.html
No salary for: https://www.basketball-reference.com/players/m/mcdonmi01.html
No salary for: https://www.basketball-reference.com/players/a/alumape01.html
No salary for: https://www.basketball-reference.com/players/b/bakerla01.html
No salary for: https://www.basketball-reference.com/players/s/simsal01.html
No salary for: https://www.basketball-reference.com/players/w/wheelty01.html
No salary for: https://www.basketball-reference.com/players/c/colsose01.html
No salary for: https://www.basketball-reference.com/players/m/mcclida01.html
No salary for: https://www.basketball-reference.com/players/v/vanteda01.html
No salary for: https://www.basketball-reference.com/players/f/fontais01.html
No salary for: https://www.basketball-reference.com/players/r/rigauan01.html
No salary for: https://www.basketball-reference.com/players/c/cartema01.html
No salary for: https://www.basketball-reference.com/players/f/fergude01.html
No salary for: https://www.basketball-reference.com/players/f/fullehi01.html
No salary for: https://www.basketball-reference.com/players/p/penigde01.html
No salary for: https://www.basketball-reference.com/players/b/bakerma01.html
No salary for: https://www.basketball-reference.com/players/j/jonesma03.html
No salary for: https://www.basketball-reference.com/players/k/knighbr02.html
No salary for: https://www.basketball-reference.com/players/f/felixno01.html
No salary for: https://www.basketball-reference.com/players/g/grundan01.html
No salary for: https://www.basketball-reference.com/players/z/zimmede01.html
No salary for: https://www.basketball-reference.com/players/p/pinknke01.html
No salary for: https://www.basketball-reference.com/players/a/allrela01.html
No salary for: https://www.basketball-reference.com/players/p/powelka01.html
No salary for: https://www.basketball-reference.com/players/c/crawfjo01.html
No salary for: https://www.basketball-reference.com/players/j/jeffedo01.html
No salary for: https://www.basketball-reference.com/players/a/anderan02.html
No salary for: https://www.basketball-reference.com/players/j/jeffeot01.html
No salary for: https://www.basketball-reference.com/players/l/lafayol01.html
No salary for: https://www.basketball-reference.com/players/c/cousima01.html
No salary for: https://www.basketball-reference.com/players/e/ewingpa02.html
No salary for: https://www.basketball-reference.com/players/b/byarsde01.html
No salary for: https://www.basketball-reference.com/players/d/dentmju01.html
No salary for: https://www.basketball-reference.com/players/d/dysonje01.html
No salary for: https://www.basketball-reference.com/players/s/smithje01.html
No salary for: https://www.basketball-reference.com/players/u/ubileed01.html
No salary for: https://www.basketball-reference.com/players/w/wrighch02.html
No salary for: https://www.basketball-reference.com/players/d/daviebr01.html
No salary for: https://www.basketball-reference.com/players/e/edwarsh01.html
No salary for: https://www.basketball-reference.com/players/h/harriel01.html
No salary for: https://www.basketball-reference.com/players/m/mitchto03.html
No salary for: https://www.basketball-reference.com/players/n/nunnaja01.html
No salary for: https://www.basketball-reference.com/players/s/smithch05.html
No salary for: https://www.basketball-reference.com/players/s/southja01.html
No salary for: https://www.basketball-reference.com/players/w/wareca01.html
No salary for: https://www.basketball-reference.com/players/c/chrispa01.html
No salary for: https://www.basketball-reference.com/players/l/lucaska01.html
No salary for: https://www.basketball-reference.com/players/w/wiltjky01.html

In [135]:
#Concat nba_salary data
file_name='data/nba_salary/nba_salary_{}.csv'
player_id=[x for x in adv_stats['player_id'].unique()]
salary_list=[]
for x in player_id:
    try:
        salary_list.append(pd.read_csv(file_name.format(x)))
    except FileNotFoundError:
        print('No Salary: '+str(x))

salary=pd.concat(salary_list)

No Salary: benneel01
No Salary: boneyde01
No Salary: bookeme01
No Salary: carruji01
No Salary: driggna01
No Salary: grayev01
No Salary: marticu01
No Salary: smithst02
No Salary: steigma01
No Salary: djordal01
No Salary: hansore01
No Salary: mcdonmi01
No Salary: alumape01
No Salary: bakerla01
No Salary: simsal01
No Salary: wheelty01
No Salary: colsose01
No Salary: mcclida01
No Salary: vanteda01
No Salary: fontais01
No Salary: rigauan01
No Salary: cartema01
No Salary: fergude01
No Salary: fullehi01
No Salary: penigde01
No Salary: bakerma01
No Salary: jonesma03
No Salary: knighbr02
No Salary: felixno01
No Salary: grundan01
No Salary: zimmede01
No Salary: pinknke01
No Salary: allrela01
No Salary: powelka01
No Salary: crawfjo01
No Salary: jeffedo01
No Salary: anderan02
No Salary: jeffeot01
No Salary: lafayol01
No Salary: cousima01
No Salary: ewingpa02
No Salary: byarsde01
No Salary: dentmju01
No Salary: dysonje01
No Salary: smithje01
No Salary: ubileed01
No Salary: wrighch02
No Salary: daviebr01
No Salary: edwarsh01
No Salary: harriel01
No Salary: mitchto03
No Salary: nunnaja01
No Salary: smithch05
No Salary: southja01
No Salary: wareca01
No Salary: chrispa01
No Salary: lucaska01
No Salary: wiltjky01

In [146]:
#Convert Salary into float 
salary['Salary']=salary.Salary.str.replace('$','')
salary['Salary']=salary.Salary.str.replace(',','')
salary['clean_Salary']=salary.Salary.str.extract('(\d+)', expand=True)
salary['clean_Salary']=salary.clean_Salary.astype(float)

#Remove NaN clean_Salary. The Salary is either not available or '< Minimum'
salary.dropna(inplace=True)

In [149]:
#Salary and inflation
inflation=pd.read_csv('data/CPIAUCNS.csv', parse_dates=True)

#Convert date to datetime in order to extract year
inflation.DATE=pd.to_datetime(inflation.DATE)
inflation['YEAR']=inflation.DATE.dt.year

#Narrow down inflation to Year and Inflation
inflation=inflation[['YEAR','CPIAUCNS']]

#Create a mean for each year
inflation=inflation.groupby('YEAR').mean()

#Reset Index
inflation=inflation.reset_index()

#Create a multiplier for inflation
inflation['CPIMult']= (inflation.iloc[-1,1]) / (inflation['CPIAUCNS'])

In [157]:
#Merge salary and inflation to adjust salary
adj_salary=pd.merge(salary, inflation, left_on='season_start', right_on='YEAR')

#Multiply salary by inflation multiplier to get adjusted salary
adj_salary['adj_salary']=(adj_salary.clean_Salary*adj_salary.CPIMult).round()

#Display on certain fields
adj_salary=adj_salary[['player_id', 'adj_salary','Season', 'Team','team_id', 'season_start', 'season_end', 'clean_Salary']]

In [179]:
#Merge adv_stats and adj_salary

df=pd.merge(adv_stats,adj_salary,how='left',left_on=['player_id','Year','Tm'], right_on=['player_id','season_end','team_id'])

In [187]:
#Back Fill NaN. Reason is because some players were traded midway. Missing values are for new teams and total. 
df.bfill(inplace=True)

In [189]:
print(df)

       Unnamed: 0               Player Pos  Age   Tm   G    MP   PER    TS%  \
0               0   Mahmoud Abdul-Rauf  PG   27  SAC  75  2131  13.2  0.524
1               1  Shareef Abdur-Rahim  PF   20  VAN  80  2802  17.4  0.518
2               2       Rafael Addison  SF   32  CHH  41   355  10.6  0.476
3               3       Cory Alexander  PG   23  SAS  80  1454  14.3  0.528
4               4         Jerome Allen  SG   24  TOT  76   943   8.7  0.451
5               5         Jerome Allen  SG   24  IND  51   692   8.7  0.489
6               6         Jerome Allen  SG   24  DEN  25   251   8.9  0.376
7               7           Ray Allen*  SG   21  MIL  82  2532  14.6  0.541
8               8       Derrick Alston   C   24  ATL   2    11  -9.0  0.000
9               9         Ashraf Amaya  PF   25  WSB  31   144   8.8  0.382
10             10        Greg Anderson   C   32  SAS  82  1659  11.4  0.531
11             11       Kenny Anderson  PG   26  POR  82  3081  19.5  0.540
12             12        Nick Anderson  SG   29  ORL  63  2163  13.8  0.494
13             13     Shandon Anderson  SG   23  UTA  65  1066  10.4  0.534
14             14      Willie Anderson  SG   30  MIA  28   303  12.6  0.570
15             15         Greg Anthony  PG   29  VAN  65  1863  16.6  0.526
16             16       B.J. Armstrong  PG   29  GSW  49  1020  12.9  0.538
17             17    Darrell Armstrong  PG   28  ORL  67  1010  14.7  0.525
18             18        Vincent Askew  SG   30  TOT  43   838   9.7  0.532
19             19        Vincent Askew  SG   30  NJN   1     7  -2.3  0.528
20             20        Vincent Askew  SG   30  IND  41   822   9.9  0.528
21             21        Vincent Askew  SG   30  DEN   1     9   0.9  0.773
22             22         Keith Askins  SF   29  MIA  78  1773   9.1  0.557
23             23        Stacey Augmon  SG   28  TOT  60   942  11.3  0.531
24             24        Stacey Augmon  SG   28  DET  20   292   9.6  0.473
25             25        Stacey Augmon  SG   28  POR  40   650  12.1  0.564
26             26         Isaac Austin   C   27  MIA  82  1881  14.2  0.536
27             27            Vin Baker  PF   25  MIL  78  3159  20.1  0.553
28             28     Charles Barkley*  PF   33  HOU  53  2009  23.0  0.581
29             29          Dana Barros  PG   29  BOS  24   708  14.0  0.552
...           ...                  ...  ..  ...  ...  ..   ...   ...    ...
11803         565       Deron Williams  PG   32  TOT  64  1657  14.0  0.541
11804         566       Deron Williams  PG   32  DAL  40  1171  15.0  0.533
11805         567       Deron Williams  PG   32  CLE  24   486  11.4  0.566
11806         568     Derrick Williams  PF   25  TOT  50   804  10.6  0.537
11807         569     Derrick Williams  PF   25  MIA  25   377  10.1  0.465
11808         570     Derrick Williams  PF   25  CLE  25   427  11.1  0.628
11809         571         Lou Williams  SG   30  TOT  81  1994  21.4  0.593
11810         572         Lou Williams  SG   30  LAL  58  1403  23.9  0.609
11811         573         Lou Williams  SG   30  HOU  23   591  15.4  0.547
11812         574      Marvin Williams  PF   30  CHO  76  2295  13.7  0.551
11813         575      Reggie Williams  SF   30  NOP   6    79  11.7  0.518
11814         576        Troy Williams  SF   22  TOT  30   557   9.0  0.511
11815         577        Troy Williams  SF   22  MEM  24   418   7.8  0.474
11816         578        Troy Williams  SF   22  HOU   6   139  12.8  0.616
11817         579         Kyle Wiltjer  PF   24  HOU  14    44   6.7  0.437
11818         580      Justise Winslow  SF   20  MIA  18   625   8.2  0.399
11819         581          Jeff Withey   C   26  UTA  51   432  18.8  0.588
11820         582       Christian Wood  PF   21  CHO  13   107  15.1  0.591
11821         583    Metta World Peace  SF   37  LAL  25   160   6.5  0.380
11822         584       Brandan Wright  PF   29  MEM  28   447  18.5  0.628
11823         585         Delon Wright  PG   24  TOR  27   446  15.0  0.535
11824         586          James Young  SG   21  BOS  29   220  10.0  0.549
11825         587            Joe Young  PG   24  IND  33   135  11.4  0.433
11826         588           Nick Young  SG   31  LAL  60  1556  14.1  0.588
11827         589       Thaddeus Young  PF   28  IND  74  2237  14.9  0.562
11828         590          Cody Zeller   C   24  CHO  62  1725  16.7  0.604
11829         591         Tyler Zeller   C   27  BOS  51   525  13.0  0.508
11830         592    Stephen Zimmerman   C   20  ORL  19   108   7.3  0.346
11831         593          Paul Zipser  SF   22  CHI  44   843   6.9  0.503
11832         594          Ivica Zubac   C   19  LAL  38   609  17.0  0.547

        3PAr      ...       VORP  Year  player_id  adj_salary   Season  \
0      0.266      ...       -0.8  1997  abdulma02   5021387.0  1996-97
1      0.022      ...        0.0  1997  abdursh01   3540888.0  1996-97
2      0.164      ...       -0.2  1997  addisra01    469743.0  1996-97
3      0.514      ...        0.2  1997  alexaco01    843917.0  1996-97
4      0.421      ...       -0.4  1997  allenje01    400901.0  1996-97
5      0.401      ...       -0.2  1997  allenje01    400901.0  1996-97
6      0.459      ...       -0.2  1997  allenje01   2891347.0  1996-97
7      0.328      ...        1.5  1997  allenra02   2891347.0  1996-97
8      0.000      ...       -0.1  1997  alstode01    400901.0  1996-97
9      0.025      ...       -0.2  1997  amayaas01    400901.0  1996-97
10     0.004      ...        0.2  1997  andergr01    945965.0  1996-97
11     0.322      ...        5.5  1997  anderke01   6762675.0  1996-97
12     0.559      ...        2.5  1997  anderni01   6139051.0  1996-97
13     0.148      ...       -0.2  1997  andersh01    356357.0  1996-97
14     0.297      ...        0.2  1997  anderwi01   3037129.0  1996-97
15     0.469      ...        0.8  1997  anthogr01   3037129.0  1996-97
16     0.275      ...       -0.5  1997  armstbj01   3887526.0  1996-97
17     0.525      ...        0.3  1997  armstda01    664119.0  1996-97
18     0.129      ...        0.1  1997  askewvi01   3239605.0  1996-97
19     0.131      ...        0.0  1997  askewvi01   3239605.0  1996-97
20     0.131      ...        0.2  1997  askewvi01   3239605.0  1996-97
21     0.000      ...        0.0  1997  askewvi01   1052872.0  1996-97
22     0.539      ...        1.4  1997  askinke01   1052872.0  1996-97
23     0.000      ...        0.1  1997  augmost01   4017110.0  1996-97
24     0.000      ...       -0.2  1997  augmost01   4017110.0  1996-97
25     0.000      ...        0.3  1997  augmost01    400901.0  1996-97
26     0.005      ...        0.2  1997  austiis01    400901.0  1996-97
27     0.043      ...        3.7  1997  bakervi01   6098556.0  1996-97
28     0.296      ...        4.6  1997  barklch01   7604972.0  1996-97
29     0.415      ...       -0.1  1997  barroda01   5507328.0  1996-97
...      ...      ...        ...   ...        ...         ...      ...
11803  0.390      ...       -0.1  2017  willide01   9527191.0  2016-17
11804  0.400      ...        0.2  2017  willide01   9527191.0  2016-17
11805  0.361      ...       -0.3  2017  willide01    274834.0  2016-17
11806  0.398      ...       -0.4  2017  willide02   4867336.0  2016-17
11807  0.328      ...       -0.3  2017  willide02   4867336.0  2016-17
11808  0.486      ...       -0.1  2017  willide02    425593.0  2016-17
11809  0.447      ...        1.4  2017  willilo02   7410037.0  2016-17
11810  0.432      ...        1.5  2017  willilo02   7410037.0  2016-17
11811  0.489      ...       -0.1  2017  willilo02   7410037.0  2016-17
11812  0.503      ...        1.3  2017  willima02  12967565.0  2016-17
11813  0.478      ...        0.0  2017  willire02    267477.0  2016-17
11814  0.371      ...       -0.1  2017  willitr02    575306.0  2016-17
11815  0.333      ...       -0.1  2017  willitr02    575306.0  2016-17
11816  0.477      ...        0.0  2017  willitr02    192628.0  2016-17
11817  0.929      ...        0.0  2017  wiltjky01   2745355.0  2016-17
11818  0.156      ...       -0.1  2017  winslju01   2745355.0  2016-17
11819  0.010      ...        0.4  2017  witheje01   1075192.0  2016-17
11820  0.217      ...        0.0  2017   woodch01    925869.0  2016-17
11821  0.559      ...       -0.2  2017  artesro01   1642550.0  2016-17
11822  0.007      ...        0.4  2017  wrighbr03   6033887.0  2016-17
11823  0.259      ...        0.4  2017  wrighde01   1669672.0  2016-17
11824  0.603      ...       -0.1  2017  youngja01   1932114.0  2016-17
11825  0.319      ...       -0.2  2017  youngjo01   1113985.0  2016-17
11826  0.665      ...        0.5  2017  youngni01   5762805.0  2016-17
11827  0.172      ...        1.9  2017  youngth01  14982727.0  2016-17
11828  0.002      ...        1.8  2017  zelleco01   5629842.0  2016-17
11829  0.006      ...       -0.1  2017  zellety01   8468614.0  2016-17
11830  0.000      ...       -0.1  2017  zimmest01   1005648.0  2016-17
11831  0.448      ...       -0.4  2017  zipsepa01    793933.0  2016-17
11832  0.013      ...       -0.1  2017  zubaciv01   1095580.0  2016-17

                         Team  team_id  season_start  season_end  clean_Salary
0            Sacramento Kings      SAC        1996.0      1997.0     3100000.0
1         Vancouver Grizzlies      VAN        1996.0      1997.0     2186000.0
2           Charlotte Hornets      CHH        1996.0      1997.0      290000.0
3           San Antonio Spurs      SAS        1996.0      1997.0      521000.0
4              Indiana Pacers      IND        1996.0      1997.0      247500.0
5              Indiana Pacers      IND        1996.0      1997.0      247500.0
6             Milwaukee Bucks      MIL        1996.0      1997.0     1785000.0
7             Milwaukee Bucks      MIL        1996.0      1997.0     1785000.0
8          Washington Bullets      WSB        1996.0      1997.0      247500.0
9          Washington Bullets      WSB        1996.0      1997.0      247500.0
10          San Antonio Spurs      SAS        1996.0      1997.0      584000.0
11     Portland Trail Blazers      POR        1996.0      1997.0     4175000.0
12              Orlando Magic      ORL        1996.0      1997.0     3790000.0
13                  Utah Jazz      UTA        1996.0      1997.0      220000.0
14        Vancouver Grizzlies      VAN        1996.0      1997.0     1875000.0
15        Vancouver Grizzlies      VAN        1996.0      1997.0     1875000.0
16      Golden State Warriors      GSW        1996.0      1997.0     2400000.0
17              Orlando Magic      ORL        1996.0      1997.0      410000.0
18             Indiana Pacers      IND        1996.0      1997.0     2000000.0
19             Indiana Pacers      IND        1996.0      1997.0     2000000.0
20             Indiana Pacers      IND        1996.0      1997.0     2000000.0
21                 Miami Heat      MIA        1996.0      1997.0      650000.0
22                 Miami Heat      MIA        1996.0      1997.0      650000.0
23            Detroit Pistons      DET        1996.0      1997.0     2480000.0
24            Detroit Pistons      DET        1996.0      1997.0     2480000.0
25                 Miami Heat      MIA        1996.0      1997.0      247500.0
26                 Miami Heat      MIA        1996.0      1997.0      247500.0
27            Milwaukee Bucks      MIL        1996.0      1997.0     3765000.0
28            Houston Rockets      HOU        1996.0      1997.0     4695000.0
29             Boston Celtics      BOS        1996.0      1997.0     3400000.0
...                       ...      ...           ...         ...           ...
11803        Dallas Mavericks      DAL        2016.0      2017.0     9000000.0
11804        Dallas Mavericks      DAL        2016.0      2017.0     9000000.0
11805     Cleveland Cavaliers      CLE        2016.0      2017.0      259626.0
11806              Miami Heat      MIA        2016.0      2017.0     4598000.0
11807              Miami Heat      MIA        2016.0      2017.0     4598000.0
11808     Cleveland Cavaliers      CLE        2016.0      2017.0      402043.0
11809         Houston Rockets      HOU        2016.0      2017.0     7000000.0
11810         Houston Rockets      HOU        2016.0      2017.0     7000000.0
11811         Houston Rockets      HOU        2016.0      2017.0     7000000.0
11812       Charlotte Hornets      CHO        2016.0      2017.0    12250000.0
11813    New Orleans Pelicans      NOP        2016.0      2017.0      252676.0
11814       Memphis Grizzlies      MEM        2016.0      2017.0      543471.0
11815       Memphis Grizzlies      MEM        2016.0      2017.0      543471.0
11816         Houston Rockets      HOU        2016.0      2017.0      181969.0
11817              Miami Heat      MIA        2016.0      2017.0     2593440.0
11818              Miami Heat      MIA        2016.0      2017.0     2593440.0
11819               Utah Jazz      UTA        2016.0      2017.0     1015696.0
11820       Charlotte Hornets      CHO        2016.0      2017.0      874636.0
11821      Los Angeles Lakers      LAL        2016.0      2017.0     1551659.0
11822       Memphis Grizzlies      MEM        2016.0      2017.0     5700000.0
11823         Toronto Raptors      TOR        2016.0      2017.0     1577280.0
11824          Boston Celtics      BOS        2016.0      2017.0     1825200.0
11825          Indiana Pacers      IND        2016.0      2017.0     1052342.0
11826      Los Angeles Lakers      LAL        2016.0      2017.0     5443918.0
11827          Indiana Pacers      IND        2016.0      2017.0    14153652.0
11828       Charlotte Hornets      CHO        2016.0      2017.0     5318313.0
11829          Boston Celtics      BOS        2016.0      2017.0     8000000.0
11830           Orlando Magic      ORL        2016.0      2017.0      950000.0
11831           Chicago Bulls      CHI        2016.0      2017.0      750000.0
11832      Los Angeles Lakers      LAL        2016.0      2017.0     1034956.0

[11833 rows x 36 columns]